<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">
    
    <!-- For mail settings and future properties files -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
                <value>classpath:mail.properties</value>
            </list>
        </property>
    </bean>

    <!-- JNDI DataSource for J2EE environments -->
    <!--<jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/appfuse"/>-->
    <bean id="dataSource" class="com.p6spy.engine.spy.P6DataSource">
        <constructor-arg>
            <bean id="DataSource" class="org.apache.commons.dbcp.BasicDataSource"
                  destroy-method="close">
                <property name="driverClassName" value="oracle.jdbc.OracleDriver" />
                <property name="url" value="jdbc:oracle:thin:@10.110.20.49:1521:IKS2" />
                <property name="username" value="IKS1" />
                <property name="password" value="iks1" />
                <property name="removeAbandoned" value="true" />
                <property name="initialSize" value="20" />
                <property name="maxActive" value="30" />
            </bean>
        </constructor-arg>
    </bean>
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="hibernateProperties">
            <props>
                <prop key="use_query_cache">true</prop>
                <prop key="use_second_level_cache">true</prop>
                <prop key="show_sql">true</prop>
                <prop key="format_sql">true</prop>
                <prop key="use_sql_comments">true</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
                <prop key="hibernate.connection.url">jdbc:oracle:thin:@//10.110.20.49:1521/IKS2.autentica.lv</prop>
                <prop key="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</prop>

                <!--<prop key="hibernate.current_session_context_class">thread</prop> -->
            </props>
        </property>
        <property name="packagesToScan">
            <list>
                <value>lv.baiba.cactus</value>
            </list>
        </property>
    </bean>
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />
</beans>
